<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{camelCase title}}</title>
    <link rel="stylesheet" href="{{ assetPath 'app.css' }}" />
  </head>

  <body class="container" ng-app="{{camelCase title}}">

  <br>

  <ul class="nav nav-pills">
    <li><a ui-sref="home">home</a></li>
    <li><a ui-sref="about">about</a></li>
  </ul>

	<div ui-view />

    <script src="{{ assetPath 'app.js' }}"></script>
  </body>
</html>
